DB_HOST=localhost
DB_PORT=5432
DB_NAME=bookngo_payment_db
DB_USERNAME=postgres
DB_PASSWORD=change_me

PORT=8086

EUREKA_SERVER_URL=http://localhost:8761/eureka/

JWT_SECRET=change_me
JWT_EXPIRATION_MS=86400000

SPRING_PROFILES_ACTIVE=local
LOGGING_LEVEL_BOOKNGO=DEBUG

BOOKING_SERVICE_URL=http://localhost:8085

PAYMENT_SIMULATION_ENABLED=true
PROVIDER_SECRET_KEY=change_me