DB_HOST=localhost
DB_PORT=5432
DB_NAME=bookngo_booking_db
DB_USERNAME=postgres
DB_PASSWORD=change_me

PORT=8085

EUREKA_SERVER_URL=http://localhost:8761/eureka/

JWT_SECRET=change_me
JWT_EXPIRATION_MS=86400000

SPRING_PROFILES_ACTIVE=local
LOGGING_LEVEL_BOOKNGO=DEBUG

THEATRE_SERVICE_URL=http://localhost:8083
MOVIE_SERVICE_URL=http://localhost:8082
SHOW_SERVICE_URL=http://localhost:8084
PAYMENT_SERVICE_URL=http://localhost:8086